In [2]:
name = 'adam'
print(f'My name is {name}')

My name is adam

In [4]:
name = 'adam'
name.capitalize()

'Adam'

In [5]:
name.lower()

'adam'

In [ ]:
text = 'Malaysia won gold'

In [8]:
text.replace('Gold','Silver')

'Malaysia won gold'

In [9]:
text.replace('gold','Silver')

'Malaysia won Silver'

In [11]:
students = ["adam","dean","danial"]
students.append("amar")
print(students)

['adam', 'dean', 'danial', 'amar']

In [12]:
students = ["adam","dean","danial"]
students.insert(1,"amar")
print(students)

['adam', 'amar', 'dean', 'danial']

In [13]:
students = ["adam","dean","danial"]
students.sort()
print(students)

['adam', 'danial', 'dean']

In [14]:
height = ["1.3","0.1","1.5"]
height.sort()
print(height)

['0.1', '1.3', '1.5']

In [16]:
students = ["adam","dean","danial"]
print("adam" in students)

True

In [19]:
students_age = {
    "adam": 11,
    "danial": 15,
    "amar": 18
}
print(students_age["adam"])

11

In [1]:
print(5 > 3)

True

In [14]:
age = 1
if age < 2:
    print("Toddler")
elif age < 8:
    print("Kid")

else:
    print("Teenager")

Toddler

In [21]:
name = "fakhrul"
if name =="adam":
    print("hensem")
else: 
    print("not hensem")

not hensem